.App {
  text-align: center;
  
}

.page1{
  margin:10px 0 10px 0 !important;
}

.scrollable{
  overflow-y: auto;
  max-height: 500px;
}

@media screen and (max-width: 600px) {
  .imgEifel {
    display: none;
  }
}